{
  "openapi": "3.1.0",
  "info": {
    "title": "GPT API Reference",
    "description": "REST APIs for GPT ILM model",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://mavi-backend.memories.ai/serve/api/v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/iu/chat/completions": {
      "post": {
        "summary": "Chat Completions GPT",
        "operationId": "chat_completions_gpt_ilm",
        "description": "Generate chat completions using GPT ILM model with image inputs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The model to use (e.g., gpt:gpt-4o)",
                    "example": "gpt:gpt-4o"
                  },
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["system", "user", "assistant"]
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": ["text", "image_url"]
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "description": "URL or base64 encoded image"
                                      }
                                    },
                                    "required": ["url"]
                                  }
                                }
                              }
                            }
                          ]
                        }
                      },
                      "required": ["role", "content"]
                    }
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["json_object"]
                      }
                    },
                    "description": "Force JSON output format"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Controls randomness: 0.0-2.0, 0 = deterministic",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 0
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Maximum number of tokens to generate",
                    "default": 1000
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling: 0.0-1.0",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1.0
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Reduces repetition of frequent tokens: -2.0 to 2.0",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0.0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Increases likelihood of new topics: -2.0 to 2.0",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0.0
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of completions to generate",
                    "default": 1
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Whether to stream the response",
                    "default": false
                  },
                  "stop": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Stop sequences"
                  }
                },
                "required": ["model", "messages"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response with JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "chatcmpl-CsRhYgDaLSNjl80v5uYBufEDbJqAM"
                    },
                    "object": {
                      "type": "string",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer",
                      "example": 1767092232
                    },
                    "model": {
                      "type": "string",
                      "example": "gpt-4o-2024-08-06",
                      "description": "The model used for the completion"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": ["assistant"]
                              },
                              "content": {
                                "type": "string",
                                "description": "The message content"
                              },
                              "refusal": {
                                "type": ["string", "null"],
                                "description": "Refusal message if the request was refused",
                                "example": null
                              },
                              "annotations": {
                                "type": "array",
                                "description": "Annotations for the message",
                                "items": {
                                  "type": "object"
                                },
                                "example": []
                              }
                            },
                            "required": ["role", "content"]
                          },
                          "logprobs": {
                            "type": ["object", "null"],
                            "description": "Log probability information",
                            "example": null
                          },
                          "finish_reason": {
                            "type": "string",
                            "example": "stop"
                          }
                        },
                        "required": ["index", "message", "finish_reason"]
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "example": 447
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "example": 112
                        },
                        "total_tokens": {
                          "type": "integer",
                          "example": 559
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "properties": {
                            "cached_tokens": {
                              "type": "integer",
                              "example": 0
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "example": 0
                            }
                          }
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "properties": {
                            "reasoning_tokens": {
                              "type": "integer",
                              "example": 0
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "example": 0
                            },
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "example": 0
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "example": 0
                            }
                          }
                        }
                      },
                      "required": ["prompt_tokens", "completion_tokens", "total_tokens"]
                    },
                    "service_tier": {
                      "type": "string",
                      "example": "default",
                      "description": "The service tier used for the request"
                    },
                    "system_fingerprint": {
                      "type": "string",
                      "example": "fp_deacdd5f6f",
                      "description": "System fingerprint for the model version"
                    }
                  },
                  "required": ["id", "object", "created", "model", "choices", "usage"]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}

