{
    "openapi": "3.1.0",
    "info": {
        "title": "Gemini API Reference",
        "description": "REST APIs for Gemini ILM and VLM models",
        "version": "v1.0.0"
    },
    "servers": [
        {
            "url": "https://mavi-backend.memories.ai/serve/api/v2"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/vu/chat/completions": {
            "post": {
                "summary": "Chat Completions Gemini",
                "operationId": "chat_completions_gemini",
                "description": "Generate chat completions using Gemini ILM or VLM models with image and video inputs.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "model": {
                                        "type": "string",
                                        "description": "The model to use (e.g., gemini:gemini-2.5-flash)",
                                        "example": "gemini:gemini-2.5-flash"
                                    },
                                    "messages": {
                                        "type": "array",
                                        "description": "Array of message objects",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "role": {
                                                    "type": "string",
                                                    "enum": [
                                                        "system",
                                                        "user",
                                                        "assistant"
                                                    ]
                                                },
                                                "content": {
                                                    "oneOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "text",
                                                                            "input_file"
                                                                        ]
                                                                    },
                                                                    "text": {
                                                                        "type": "string"
                                                                    },
                                                                    "file_uri": {
                                                                        "type": "string",
                                                                        "description": "URL or base64 encoded file"
                                                                    },
                                                                    "mime_type": {
                                                                        "type": "string",
                                                                        "description": "MIME type of the file (e.g., image/jpeg, video/mp4)"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "role",
                                                "content"
                                            ]
                                        }
                                    },
                                    "temperature": {
                                        "type": "number",
                                        "description": "Controls randomness: 0.0-2.0, higher = more random",
                                        "minimum": 0,
                                        "maximum": 2,
                                        "default": 0.7
                                    },
                                    "max_tokens": {
                                        "type": "integer",
                                        "description": "Maximum number of tokens to generate",
                                        "default": 1000
                                    },
                                    "top_p": {
                                        "type": "number",
                                        "description": "Nucleus sampling: 0.0-1.0",
                                        "minimum": 0,
                                        "maximum": 1,
                                        "default": 1.0
                                    },
                                    "frequency_penalty": {
                                        "type": "number",
                                        "description": "Reduces repetition of frequent tokens: -2.0 to 2.0",
                                        "minimum": -2,
                                        "maximum": 2,
                                        "default": 0.0
                                    },
                                    "presence_penalty": {
                                        "type": "number",
                                        "description": "Increases likelihood of new topics: -2.0 to 2.0",
                                        "minimum": -2,
                                        "maximum": 2,
                                        "default": 0.0
                                    },
                                    "n": {
                                        "type": "integer",
                                        "description": "Number of completions to generate",
                                        "default": 1
                                    },
                                    "stream": {
                                        "type": "boolean",
                                        "description": "Whether to stream the response",
                                        "default": false
                                    },
                                    "stop": {
                                        "oneOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            {
                                                "type": "null"
                                            }
                                        ],
                                        "description": "Stop sequences"
                                    },
                                    "extra_body": {
                                        "type": "object",
                                        "properties": {
                                            "metadata": {
                                                "type": "object",
                                                "properties": {
                                                    "thinking_config": {
                                                        "type": "object",
                                                        "properties": {
                                                            "thinking_budget": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    "response_mime_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "application/json",
                                                            "json_schema"
                                                        ]
                                                    },
                                                    "responseSchema": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "OBJECT"
                                                                ]
                                                            },
                                                            "properties": {
                                                                "type": "object"
                                                            },
                                                            "required": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "model",
                                    "messages"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Chat completion response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "resp_5810813e-99b9-427a-8736-23cf34573627",
                                            "description": "Unique identifier for the completion"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "completion",
                                            "description": "Object type, always 'completion'"
                                        },
                                        "model": {
                                            "type": "string",
                                            "example": "gemini:gemini-2.5-flash",
                                            "description": "The model used for the completion"
                                        },
                                        "created_at": {
                                            "type": "integer",
                                            "example": 1767093284,
                                            "description": "Unix timestamp of when the completion was created"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "completed",
                                            "description": "Status of the completion"
                                        },
                                        "choices": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "text": {
                                                        "type": "string",
                                                        "description": "Text content of the completion",
                                                        "example": "This video demonstrates the effects of vacuum on three different states of oranges."
                                                    },
                                                    "index": {
                                                        "type": "integer",
                                                        "description": "Index of the choice in the choices array",
                                                        "example": 0
                                                    }
                                                },
                                                "required": ["text", "index"]
                                            }
                                        },
                                        "usage": {
                                            "type": "object",
                                            "properties": {
                                                "input_tokens": {
                                                    "type": "integer",
                                                    "description": "Number of input tokens used",
                                                    "example": 16983
                                                },
                                                "output_tokens": {
                                                    "type": "integer",
                                                    "description": "Number of output tokens generated",
                                                    "example": 37
                                                },
                                                "total_tokens": {
                                                    "type": "integer",
                                                    "description": "Total number of tokens used",
                                                    "example": 17020
                                                }
                                            },
                                            "required": ["input_tokens", "output_tokens", "total_tokens"]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "provider": {
                                                    "type": "string",
                                                    "description": "Provider name",
                                                    "example": "gemini"
                                                },
                                                "provider_model": {
                                                    "type": "string",
                                                    "description": "Provider-specific model name",
                                                    "example": "gemini-2.5-flash"
                                                }
                                            },
                                            "required": ["provider", "provider_model"]
                                        }
                                    },
                                    "required": ["id", "object", "model", "created_at", "status", "choices", "usage", "meta"]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/iu/chat/completions": {
            "post": {
                "summary": "Chat Completions Gemini ILM",
                "operationId": "chat_completions_gemini_ilm",
                "description": "Generate chat completions using Gemini ILM or VLM models with image and video inputs.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "model": {
                                        "type": "string",
                                        "description": "The model to use (e.g., gemini:gemini-2.5-flash)",
                                        "example": "gemini:gemini-2.5-flash"
                                    },
                                    "messages": {
                                        "type": "array",
                                        "description": "Array of message objects",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "role": {
                                                    "type": "string",
                                                    "enum": [
                                                        "system",
                                                        "user",
                                                        "assistant"
                                                    ]
                                                },
                                                "content": {
                                                    "oneOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "text",
                                                                            "input_file"
                                                                        ]
                                                                    },
                                                                    "text": {
                                                                        "type": "string"
                                                                    },
                                                                    "file_uri": {
                                                                        "type": "string",
                                                                        "description": "URL or base64 encoded file"
                                                                    },
                                                                    "mime_type": {
                                                                        "type": "string",
                                                                        "description": "MIME type of the file (e.g., image/jpeg, video/mp4)"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "role",
                                                "content"
                                            ]
                                        }
                                    },
                                    "temperature": {
                                        "type": "number",
                                        "description": "Controls randomness: 0.0-2.0, higher = more random",
                                        "minimum": 0,
                                        "maximum": 2,
                                        "default": 0.7
                                    },
                                    "max_tokens": {
                                        "type": "integer",
                                        "description": "Maximum number of tokens to generate",
                                        "default": 1000
                                    },
                                    "top_p": {
                                        "type": "number",
                                        "description": "Nucleus sampling: 0.0-1.0",
                                        "minimum": 0,
                                        "maximum": 1,
                                        "default": 1.0
                                    },
                                    "frequency_penalty": {
                                        "type": "number",
                                        "description": "Reduces repetition of frequent tokens: -2.0 to 2.0",
                                        "minimum": -2,
                                        "maximum": 2,
                                        "default": 0.0
                                    },
                                    "presence_penalty": {
                                        "type": "number",
                                        "description": "Increases likelihood of new topics: -2.0 to 2.0",
                                        "minimum": -2,
                                        "maximum": 2,
                                        "default": 0.0
                                    },
                                    "n": {
                                        "type": "integer",
                                        "description": "Number of completions to generate",
                                        "default": 1
                                    },
                                    "stream": {
                                        "type": "boolean",
                                        "description": "Whether to stream the response",
                                        "default": false
                                    },
                                    "stop": {
                                        "oneOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            {
                                                "type": "null"
                                            }
                                        ],
                                        "description": "Stop sequences"
                                    },
                                    "extra_body": {
                                        "type": "object",
                                        "properties": {
                                            "metadata": {
                                                "type": "object",
                                                "properties": {
                                                    "thinking_config": {
                                                        "type": "object",
                                                        "properties": {
                                                            "thinking_budget": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    "response_mime_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "application/json",
                                                            "json_schema"
                                                        ]
                                                    },
                                                    "responseSchema": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "OBJECT"
                                                                ]
                                                            },
                                                            "properties": {
                                                                "type": "object"
                                                            },
                                                            "required": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "model",
                                    "messages"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Chat completion response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "resp_f8d13263-95b3-4337-b4c9-dbe9f6eb1e43",
                                            "description": "Unique identifier for the completion"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "completion",
                                            "description": "Object type, always 'completion'"
                                        },
                                        "model": {
                                            "type": "string",
                                            "example": "gemini:gemini-2.5-flash",
                                            "description": "The model used for the completion"
                                        },
                                        "created_at": {
                                            "type": "integer",
                                            "example": 1767093024,
                                            "description": "Unix timestamp of when the completion was created"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "completed",
                                            "description": "Status of the completion"
                                        },
                                        "choices": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "text": {
                                                        "type": "string",
                                                        "description": "Text content of the completion",
                                                        "example": "This image shows a humorous scene presented from a first-person perspective (FPS)."
                                                    },
                                                    "index": {
                                                        "type": "integer",
                                                        "description": "Index of the choice in the choices array",
                                                        "example": 0
                                                    }
                                                },
                                                "required": ["text", "index"]
                                            }
                                        },
                                        "usage": {
                                            "type": "object",
                                            "properties": {
                                                "input_tokens": {
                                                    "type": "integer",
                                                    "description": "Number of input tokens used",
                                                    "example": 1812
                                                },
                                                "output_tokens": {
                                                    "type": "integer",
                                                    "description": "Number of output tokens generated",
                                                    "example": 38
                                                },
                                                "total_tokens": {
                                                    "type": "integer",
                                                    "description": "Total number of tokens used",
                                                    "example": 1850
                                                }
                                            },
                                            "required": ["input_tokens", "output_tokens", "total_tokens"]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "provider": {
                                                    "type": "string",
                                                    "description": "Provider name",
                                                    "example": "gemini"
                                                },
                                                "provider_model": {
                                                    "type": "string",
                                                    "description": "Provider-specific model name",
                                                    "example": "gemini-2.5-flash"
                                                }
                                            },
                                            "required": ["provider", "provider_model"]
                                        }
                                    },
                                    "required": ["id", "object", "model", "created_at", "status", "choices", "usage", "meta"]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization"
            }
        }
    }
}