{
  "openapi": "3.1.0",
  "info": {
    "title": "Nova API Reference",
    "description": "REST APIs for Nova ILM and VLM models",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://mavi-backend.memories.ai/serve/api/v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/vu/chat/completions": {
      "post": {
        "summary": "Chat Completions Nova",
        "operationId": "chat_completions_nova",
        "description": "Generate chat completions using Nova ILM or VLM models with image and video inputs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The model to use (e.g., nova:amazon.nova-lite-v1:0)",
                    "example": "nova:amazon.nova-lite-v1:0"
                  },
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["system", "user", "assistant"]
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": ["text"]
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["type", "text"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": ["image_url"]
                                      },
                                      "image_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["type", "image_url"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": ["video_url"]
                                      },
                                      "video_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["type", "video_url"]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      },
                      "required": ["role", "content"]
                    }
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Controls randomness: 0.0-2.0, higher = more random",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 1.0
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Maximum number of tokens to generate",
                    "default": 1000
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling: 0.0-1.0",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1.0
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Reduces repetition of frequent tokens: -2.0 to 2.0",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0.0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Increases likelihood of new topics: -2.0 to 2.0",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0.0
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of completions to generate",
                    "default": 1
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Whether to stream the response",
                    "default": false
                  },
                  "stop": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Stop sequences"
                  },
                  "extra_body": {
                    "type": "object",
                    "properties": {
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "toolConfig": {
                            "type": "object",
                            "properties": {
                              "tools": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "toolSpec": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "inputSchema": {
                                          "type": "object",
                                          "properties": {
                                            "json": {
                                              "type": "object"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "required": ["model", "messages"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the chat completion",
                      "example": "chatcmpl_705304384e4143db9e162cda30295762"
                    },
                    "object": {
                      "type": "string",
                      "description": "Object type, always \"chat.completion\"",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer",
                      "description": "Unix timestamp of when the completion was created",
                      "example": 1767098064
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the completion",
                      "example": "nova:amazon.nova-lite-v1:0"
                    },
                    "choices": {
                      "type": "array",
                      "description": "Array of completion choices",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Index of the choice in the choices array"
                          },
                          "message": {
                            "type": "object",
                            "description": "Message object containing the assistant's response",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": ["assistant"],
                                "description": "Role of the message, always \"assistant\""
                              },
                              "content": {
                                "type": "string",
                                "description": "Content of the message",
                                "example": "At the start of the video, the screen displays the words \"VACUUM VS ORANGE\". The objects in the video are visible."
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string",
                            "description": "Reason why the completion finished"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token usage information",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Number of tokens in the prompt",
                          "example": 17463
                        },
                        "output_token": {
                          "type": "integer",
                          "description": "Number of tokens in the completion output",
                          "example": 290
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Total number of tokens used",
                          "example": 17753
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iu/chat/completions": {
      "post": {
        "summary": "Chat Completions Nova ILM",
        "operationId": "chat_completions_nova_ilm",
        "description": "Generate chat completions using Nova ILM or VLM models with image and video inputs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The model to use (e.g., nova:amazon.nova-lite-v1:0)",
                    "example": "nova:amazon.nova-lite-v1:0"
                  },
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["system", "user", "assistant"]
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": ["text"]
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["type", "text"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": ["image_url"]
                                      },
                                      "image_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["type", "image_url"]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      },
                      "required": ["role", "content"]
                    }
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Controls randomness: 0.0-2.0, higher = more random",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 1.0
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Maximum number of tokens to generate",
                    "default": 1000
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling: 0.0-1.0",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1.0
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Reduces repetition of frequent tokens: -2.0 to 2.0",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0.0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Increases likelihood of new topics: -2.0 to 2.0",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0.0
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of completions to generate",
                    "default": 1
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Whether to stream the response",
                    "default": false
                  },
                  "stop": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Stop sequences"
                  },
                  "extra_body": {
                    "type": "object",
                    "properties": {
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "toolConfig": {
                            "type": "object",
                            "properties": {
                              "tools": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "toolSpec": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "inputSchema": {
                                          "type": "object",
                                          "properties": {
                                            "json": {
                                              "type": "object"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "required": ["model", "messages"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the chat completion",
                      "example": "chatcmpl_703da855e7e0415296d5365265a1b323"
                    },
                    "object": {
                      "type": "string",
                      "description": "Object type, always \"chat.completion\"",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer",
                      "description": "Unix timestamp of when the completion was created",
                      "example": 1767097779
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the completion",
                      "example": "nova:amazon.nova-lite-v1:0"
                    },
                    "choices": {
                      "type": "array",
                      "description": "Array of completion choices",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Index of the choice in the choices array"
                          },
                          "message": {
                            "type": "object",
                            "description": "Message object containing the assistant's response",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": ["assistant"],
                                "description": "Role of the message, always \"assistant\""
                              },
                              "content": {
                                "type": "string",
                                "description": "Content of the message",
                                "example": "This is a photo showing a yellow sign with \"AMENDMENT 35\" marking in the background, with a white room wall as the background and a curtain above."
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string",
                            "description": "Reason why the completion finished"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token usage information",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Number of tokens in the prompt",
                          "example": 739
                        },
                        "output_token": {
                          "type": "integer",
                          "description": "Number of tokens in the completion output",
                          "example": 207
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Total number of tokens used",
                          "example": 946
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}

